h1{
	font-size: 24px;
	margin-bottom: 20px;
}
.invoice-item-wrapper{
	text-align: center;
	margin-bottom: 25px;
}
.invoice-item-wrapper h2{
	font-size: 20px;
	margin-bottom: 20px;	
}
.invoice-item-wrapper img{
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.10);
	margin-bottom: 30px;
}
.invoice-item-wrapper a{
	padding: 10px 20px;
	margin-right: 20px;
	color: #333;
	border: 2px solid #ddd;
	border-radius: 20px;
}
.github-btn{
	padding: 10px 20px;
	border: 2px solid #ddd;
	color: #333;
	float: right;
	border-radius: 20px;
	font-size: 15px;
}